Repository huff-language/huffmate, pull requests merged in 2022-09, with the labels that each got.

#17 feat: ERC1155
  foundry.toml
  src/auth/Auth.huff
  src/auth/RolesAuthority.huff
  src/data-structures/Hashmap.huff
  src/math/Math.huff
  src/math/SafeMath.huff
  src/tokens/ERC1155.huff
  src/utils/ERC1155Receiver.huff
  src/utils/Multicallable.huff
  test/math/Math.t.sol
  test/math/SafeMath.t.sol
  test/math/mocks/MathWrappers.huff
  test/math/mocks/SafeMathWrappers.huff
  test/test-utils/FuzzingUtils.sol
  test/tokens/ERC1155.t.sol
  test/tokens/mocks/ERC1155Wrappers.huff
Labels: documentation, tokens, utils

#51 Fix: Cleanup, Calls, SSTORE2
  .github/workflows/test.yml
  LICENSE
  LICENSE-APACHE
  README.md
  foundry.toml
  src/auth/Auth.huff
  src/auth/NonPayable.huff
  src/auth/OnlyContract.huff
  src/auth/Owned.huff
  src/auth/RolesAuthority.huff
  src/data-structures/Arrays.huff
  src/data-structures/Hashmap.huff
  src/math/FixedPointMath.huff
  src/math/Math.huff
  src/math/SafeMath.huff
  src/math/Trigonometry.huff
  src/mechanisms/huff-clones/ExampleClone.huff
  src/mechanisms/huff-clones/ExampleCloneFactory.huff
  src/mechanisms/huff-clones/HuffClone.huff
  src/mechanisms/huff-clones/HuffCloneLib.huff
  src/tokens/ERC1155.huff
  src/tokens/ERC20.huff
  src/tokens/ERC721.huff
  src/utils/Address.huff
  src/utils/BitPackLib.huff
  src/utils/Bytecode.huff
  src/utils/Calls.huff
  src/utils/CommonErrors.huff
  src/utils/Create.huff
  src/utils/ERC1155Receiver.huff
  src/utils/ERC20Transfer.huff
  src/utils/Errors.huff
  src/utils/JumpTableUtil.huff
  src/utils/LibBit.huff
  src/utils/MerkleDistributor.huff
  src/utils/MerkleProofLib.huff
  src/utils/Multicallable.huff
  src/utils/NonPayable.huff
  src/utils/ReentrancyGuard.huff
  src/utils/SSTORE2.huff
  src/utils/TSOwnable.huff
  test/utils/BitPackLib.t.sol
  test/utils/Calls.t.sol
  test/utils/mocks/BitPackLibWrappers.huff
  test/utils/mocks/CallWrappers.huff
Labels: bug, documentation

#52 feat: SafeTransferLib
  README.md
  foundry.toml
  src/utils/SafeTransferLib.huff
  test/tokens/ERC1155.t.sol
  test/utils/SafeTransferLib.t.sol
  test/utils/mocks/SafeTransferLibWrappers.huff
  test/utils/safe-transfer-lib-mocks/mocks/MockERC20.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/MissingReturnToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/ReturnsFalseToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/ReturnsGarbageToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/ReturnsTooLittleToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/ReturnsTooMuchToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/ReturnsTwoToken.sol
  test/utils/safe-transfer-lib-mocks/weird-tokens/RevertingToken.sol
Labels: utils

#54 Feat: SSTORE2
  README.md
  foundry.toml
  src/utils/Bytecode.huff
  src/utils/CommonErrors.huff
  src/utils/SSTORE2.huff
  test/data-structures/Bytes.t.sol
  test/utils/SSTORE2.t.sol
  test/utils/SafeTransferLib.t.sol
  test/utils/mocks/SSTORE2Wrappers.huff
Labels: utils

#59 Create3
  foundry.toml
  src/tokens/ERC1155.huff
  src/utils/CREATE3.huff
  src/utils/CommonErrors.huff
  src/utils/JumpTableUtil.huff
  src/utils/SafeTransferLib.huff
  test/utils/CREATE3.t.sol
  test/utils/mocks/Create3Wrappers.huff
Labels: utils

#56 Feat: Shuffling
  README.md
  foundry.toml
  src/math/Math.huff
  src/math/SafeMath.huff
  src/utils/Address.huff
  src/utils/Shuffling.huff
  src/utils/Ternary.huff
  test/math/SafeMath.t.sol
  test/utils/Shuffling.t.sol
  test/utils/mocks/ShufflingWrappers.huff
Labels: utils

#69 fix: Final V1 Cleanup
  .gas-snapshot
  README.md
  test/tokens/mocks/ERC721Wrappers.huff
Labels: V1

#70 Small optimization to `JumpTableUtil`
  src/utils/JumpTableUtil.huff
Labels: utils, V2

#73 feat: Send Ethers
  .gas-snapshot
  README.md
  foundry.toml
  src/utils/Ethers.huff
  test/utils/Ethers.t.sol
  test/utils/TSOwnable.t.sol
  test/utils/mocks/EthersWrappers.huff
Labels: utils, V2
